* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

html,
body {
    line-height: normal;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #142239;
    background-color: #fff;
}

.class-1 {
    font-family: "Sonsie One", cursive;
    font-style: normal;
    font-weight: normal;
}

a,
a:hover {
    cursor: pointer !important;
    color: #fff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

input,
button {
    font-family: "PT Sans Narrow", sans-serif;
    border: none;
    outline: none;
    cursor: pointer !important;
}

input:hover,
button:hover {
    cursor: pointer !important;
    border: 0;
    outline: none;
}

input:focus,
button:focus {
    cursor: pointer !important;
    box-shadow: none !important;
    border: none;
    outline: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px 0 30px;
}

@media (max-width: 992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 767px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 20px;
        max-width: 576px;
    }
}

.obj-title__blog {
    text-align: center;
    margin: 0 auto 95px;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 115%;
    color: #142239;
}

@media (max-width: 992px) {
    .obj-title__blog {
        margin-bottom: 60px;
        font-size: 45px;
    }
}

@media (max-width: 767px) {
    .obj-title__blog {
        margin-bottom: 45px;
        font-size: 36px;
        line-height: 53px;
    }
}

@media (max-width: 575px) {
    .obj-title__blog {
        margin-bottom: 35px;
    }
}

.obj-title__blog span {
    color: #ce2f27;
}

.bg-color {
    background-color: #f4f9ff;
}

/* nav */
.navigation {
    margin-bottom: 35px;
}

.nav-title,
.nav-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    color: #142239;
}
.nav-title {
    transition: 0.3s;
    text-decoration: underline transparent;
}

.nav-title:hover {
    transition: 0.3s;
    text-decoration: underline #ce2f27;
}

.nav-btn {
    cursor: pointer;
    background-color: transparent;
    width: fit-content;
    transition: 0.3s;
}

.nav-btn img {
    width: 35px;
}

.nav-btn:hover {
    color: #ce2f27;
    transition: 0.3s;
}

.breadcrumb {
    padding-left: 35px;
    margin-bottom: 35px;
}

.breadcrumb-item a {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #142239;
    transition: 0.5s;
}
.bread-crumb--font a {
    font-weight: 400;
    color: #253146;
}
.breadcrumb-item:hover {
    transition: 0.5s;
    text-decoration: underline;
}

/* nav */
/* card-ser */
.card-sec {
    padding-bottom: 30px;
}

.card__item {
    background: #f4f9ff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: auto;
    padding-bottom: 110px;
    max-width: 360px;
    width: 100%;
    overflow: hidden;
}
.card__item:last-child {
    align-self: flex-start;
}
.card-general__picture {
    overflow: hidden;
    display: block;
}

.card__item .a-1 {
    transition: 0.4s;
}

.card__item:hover .a-1 {
    transform: scale(1.13);
    transition: 0.4s;
}

.link-title-card {
    color: #142239;
    transition: 0.4s;
}

.link-title-card:hover {
    color: #ce2f27;
    transition: 0.4s;
}

.title-card {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.card__description {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 110%;
}

.read-next {
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #ce2f27;
    bottom: 30px;
    left: 0;
    transition: 0.4s;
}

.read-next:hover {
    color: #142239;
    transition: 0.4s;
    transform: scale(1.03);
    font-weight: 900;
}

.date-com-like {
    bottom: 12px;
    right: 0;
}

.date-info {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #828282;
}

.social-element-click {
    height: 15px;
    width: 15px;
    cursor: pointer;
    fill: #828282;
}
.red-heart {
    fill: red;
}

.comment__number,
.like__number {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
}

/* card-ser */
/* article-back-up */
.article-back-up {
    background-image: url(../img/back-up/back-up-fon.png);
    background-size: 100% 610px;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 35px;
}

.article-content {
    background: #ffffff;
    box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.article-content__block {
    padding: 0px 100px 65px;
    background: #ffffff;
    border-radius: 0 0 20px 20px;
}
.art-big {
    border-radius: 20px 20px 0 0;
}
.article-content__text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #142239;
}

.article-element {
    border: 1px solid #142239;
    border-radius: 5px;
    padding: 20px 0 60px 50px;
}

.article-element__title {
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 49px;
    color: #ce2f27;
}

.article-content__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
}

.article-content__bottom {
    height: 1px;
    background-color: #cecece;
}

.article-content__tag--element {
    color: #142239;
}

.author-article {
    padding: 0 100px;
    margin-bottom: 90px;
}

.author-article__info--name {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 112%;
}

.author-article__info--description {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.author-article__info--date {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.title-comment {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 59px;
    color: #ce2f27;
    margin-bottom: 70px;
    padding-left: 100px;
    position: relative;
}

.title-comment span {
    color: #142239;
}

.title-comment::before {
    content: "";
    display: table;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cecece;
    left: 0;
    bottom: -25px;
}

.comment-block-people__item {
    padding-left: 100px;
    padding-bottom: 12px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 12px;
}

.comment-block-people__item:last-child {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 40px;
}

.comment-block-people__naem {
    font-size: 22px;
    line-height: 24px;
    font-style: normal;
    font-weight: bold;
}

.comment-block-people__text {
    max-width: 760px;
    width: 100%;
    padding-right: 60px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.comment-heart-block {
    top: 30px;
    right: 0;
}

.comment-heart__number {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
}

.comment-block-date__element {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

.comment-block-answer__element {
    width: fit-content;
    background-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}

.label-comment {
    padding-left: 100px;
    margin-bottom: 80px;
    width: 100%;
    max-width: 1020px;
}

.label-comment__input {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    color: #828282;
    padding: 16px 0 16px 20px;
    width: 100%;
    max-width: 850px;
    margin-right: 30px;
    background: #ffffff;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.label-comment__input:hover {
    border: 1px solid #bdbdbd;
    cursor: pointer;
}

.label-comment__input:focus {
    border: 1px solid #bdbdbd;
    cursor: pointer;
}

.label-btn-arrow {
    background-color: transparent;
}

.article-card-block {
    padding: 80px 0 30px;
}

/* article-back-up */

/* autorization */
.autorization-block {
    width: 100%;
    height: 100vh;
    background-color: #f4f9ff;
}

.autorization-block__content {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    top: 50%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
}

.autorization-block__top {
    margin-bottom: 75px;
}

.autorization-block__item {
    padding: 22px 0;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #ce2f27;
    width: 260px;
}

.active-red {
    color: #ffffff;
    background-color: #ce2f27;
}

.input-autorization {
    background: #f4f9ff;
    box-shadow: inset 0px 3px 3px -2px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(16px);
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #828282;
    max-width: 380px;
    width: 100%;
    padding: 15px 0 15px 35px;
}

.btn-autorization {
    max-width: 380px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
    padding: 14px 0;
    background: #142239;
    backdrop-filter: blur(16px);
    border-radius: 8px;
}

.cross-body {
    background-color: transparent;
    right: 45px;
    top: 45px;
}

/* autorization */

/* presonal-area */
.general-wrapper-width {
    max-width: 750px;
    display: none;
    background: #ffffff;
    border: 1px solid #828282;
    border-radius: 10px;
    width: 100%;
}
.photo-block-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    background: #142239;
    backdrop-filter: blur(16px);
    border-radius: 5px;
    width: 100%;
    max-width: 130px;
    padding: 5px 0;
}
.input-line {
    max-width: 460px;
    width: 100%;
}
.label-input-line {
    width: 100%;
}
.from-input-reset-width {
    max-width: 390px !important;
}
.btn-red-profile {
    max-width: 390px;
}
.personal-click {
    border-radius: 10px;
    border: 1px solid #828282;
    width: 360px;
    overflow: hidden;
}
.personal-click__item {
    border-bottom: 1px solid #828282;
    padding: 15px 0 15px 35px;
    cursor: pointer;
}
.personal-text {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #142239;
}

.svg-item {
    fill: #142239;
}
.svg-item-active {
    fill: #ffffff;
    color: #ffffff;
    background-color: #142239;
    border-bottom: 1px solid #142239;
}
.input-line-full {
    max-width: 100% !important;
}
.form-email-full {
    width: 201px;
}
.from-input-reset-full {
    max-width: 620px !important;
}
/* presonal-area */

/* reset */
.reset-password {
    padding-left: 35px;
    /* width: 100%; */
    /* height: 100vh; */
    /* position: relative; */
}
.password-text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #142239;
    transition: 0.4s;
}
.password-text:hover {
    transition: 0.4s;
    color: #142239;
    transform: scale(1.04);
}
.general-wrapper {
    display: none;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* position: absolute; */
    background: #ffffff;
    border: 1px solid #828282;
    border-radius: 10px;
    max-width: 950px;
    width: 100%;
}
.general-wrapper-active {
    display: block;
}
.title-litle {
    margin-bottom: 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;

    border-bottom: 1px solid #828282;
    padding-bottom: 8px;
    padding-top: 8px;
}
.form-email {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
}
.from-input-reset {
    background: #f4f9ff;
    box-shadow: inset 0px 3px 3px -2px rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(16px);
    background-position-y: inherit;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #828282;
    padding: 14px 0 14px 50px;
    max-width: 550px;
    width: 100%;
}
.btn-red {
    background: #ce2f27;
    backdrop-filter: blur(16px);
    border-radius: 8px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #ffffff;
    transition: 0.4s;
}
.btn-red-reset {
    max-width: 390px;
}
.btn-red-reset:hover {
    background: #681b17;
    transform: scale(1.05);
    transition: 0.4s;
    border-radius: 0px;
}
.cross-body-two {
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}

.personal-click-lk {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
}
.btn-secondary {
    color: #142239;
    background-color: transparent;
    border-color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 39px;
    transition: 0.2s;
    text-decoration: underline transparent;
}
.btn-secondary:hover {
    color: #142239;
    background-color: transparent;
    border-color: transparent;
    text-decoration: underline #ce2f27;
    transition: 0.2s;
}
.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
    color: #142239;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
btn-check:active + .btn-secondary:focus,
.btn-check:checked + .btn-secondary:focus,
.btn-secondary.active:focus,
.btn-secondary:active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.dropdown-toggle::after {
    display: none !important;
}
.dropdown-menu {
    min-width: fit-content;
    margin: 0;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    color: #142239;
    text-align: left;
    list-style: none;
    background-color: #f4f9ff;
    border-radius: 0px !important;
    border: none;
}
.dropdown-item {
    transition: 0.3s;
}
.dropdown-item:hover {
    border-bottom: 1px solid black;
    transition: 0.3s;
    background-color: #8fc7d4;
}
.search-solid {
    cursor: pointer;
    transition: 0.3s;
    width: 30px;
}

.search-solid:hover {
    transform: scale(1.06);
    transition: 0.3s;
    fill: #ce2f27;
}
.search-solid path {
    transition: 0.3s;
}
.search-solid:hover path {
    transition: 0.3s;
    fill: #ce2f27;
}
.search-active {
    height: 300px !important;
    transition: 0.7s;
}
.searc-block {
    transition: 0.7s;
    overflow: hidden;
    height: 0px;
    background-color: #f4f9ff;
}

.search-input-line {
    width: 100%;
    background-color: transparent;
    padding: 0 0 5px 30px;
    border-bottom: 1.5px solid #142239;
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
    color: #3c3e41;
}
.search-cross {
    cursor: pointer;
    right: 0;
    top: 20px;
}

/* footer */
.bg-color-blue {
    background-color: #142239;
    width: 100%;
    height: 80px;
}
/* footer */
