@media (max-width: 1200px) {
    .card__block {
        width: 760px;
        margin: 0 auto;
    }
    /* reset */
    .reset-password {
        padding-left: 0px;
    }
    /* reset */
    .personal-click {
        width: 260px;
    }
    .general-wrapper-width {
        max-width: 645px;
    }
    .input-line {
        max-width: 360px;
    }
    .from-input-reset-width {
        max-width: 290px !important;
    }
}

@media (max-width: 992px) {
    .card__block {
        width: 690px;
        margin: 0 auto;
    }
    .card__item {
        max-width: 335px;
    }
    /* article-back-up */
    .article-content__block {
        padding: 0px 60px 40px;
    }
    .article-content__text {
        font-size: 18px;
        line-height: 23px;
    }

    .article-element {
        padding: 20px 5px 50px 15px;
    }

    .comment-heart-block {
        top: 23px;
    }

    .article-element__title {
        font-size: 28px;
        line-height: 35px;
    }

    .article-content__title {
        font-size: 24px;
        line-height: 31px;
    }
    .article-element__item::before {
        line-height: 31px;
        font-size: 24px;
        width: 30px;
    }
    .article-element__disc {
        padding-left: 35px;
    }
    .author-article {
        padding: 0 60px;
        margin-bottom: 70px;
    }

    .a-1-author {
        width: 55px;
        height: 55px;
    }

    .author-article__info--name {
        font-size: 18px;
        line-height: 112%;
    }

    .author-article__info--description {
        width: 150px;
        font-size: 14px;
        line-height: 16px;
    }

    .author-article__info--date {
        font-size: 11px;
        line-height: 14px;
    }

    .title-comment {
        font-size: 25px;
        line-height: 37px;
        margin-bottom: 45px;
        padding-left: 60px;
    }

    .comment-block-people__item {
        padding-left: 60px;
        padding-bottom: 12px;
        margin-bottom: 12px;
    }

    .people-img {
        width: 50px;
    }

    .comment-block-people__naem {
        font-size: 18px;
        line-height: 20px;
    }

    .comment-block-people__text {
        font-size: 15px;
        line-height: 20px;
    }

    .comment-block-date__element {
        font-size: 12px;
        line-height: 16px;
    }

    .comment-block-answer__element {
        font-size: 11px;
        line-height: 14px;
    }

    .label-btn-clip {
        left: 80px;
        right: auto;
        top: 50%;
    }

    .label-comment__input {
        font-size: 20px;
        line-height: 110%;
        padding: 16px 0 16px 60px;
        max-width: 850px;
        margin-right: 0;
    }

    .label-btn-photo {
        display: none;
    }

    .label-btn-smile {
        right: 90px;
    }

    .label-btn-arrow {
        width: 30px;
        top: 50%;
        position: absolute;
        right: 47px;
        transform: translateY(-50%);
    }

    .label-comment {
        padding-left: 60px;
        margin-bottom: 60px;
    }
    .personal-click {
        width: 170px;
    }
    .personal-click__item {
        padding: 15px 0 15px 20px;
    }
    .personal-text {
        font-size: 20px;
        line-height: 24px;
    }
    .general-wrapper-width {
        max-width: 510px;
    }
    .psevdo-avatar {
        width: 90px;
    }
    .photo-block-btn {
        font-size: 13px;
        line-height: 15px;
    }
    .input-line {
        max-width: 290px;
    }
    .from-input-reset-width {
        max-width: 225px !important;
    }
    .from-input-reset {
        font-size: 17px;
        line-height: 22px;
        padding: 14px 0 14px 20px;
    }
}

@media (max-width: 767px) {
    /* nav */
    .navigation {
        margin-bottom: 40px;
    }

    /* nav */
    /* card-ser */
    .card-sec {
        padding-bottom: 70px;
    }

    .card__description {
        font-size: 19px;
    }

    /* card-ser */
    .area-line {
        max-width: 380px;
    }
    .area-content {
        max-width: 500px;
    }
    .card__block {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
    }
    .card__item {
        max-width: 360px;
    }
    .general-wrapper-width {
        max-width: 430px;
    }
    .form-email-full {
        width: 105px;
        font-size: 18px;
        line-height: 23px;
    }
}
@media (max-width: 676px) {
    .general-wrapper-width {
        max-width: 370px;
    }
    .personal-click {
        width: 130px;
    }
    .personal-click__item {
        padding: 10px 0 10px 10px;
    }
    .personal-text {
        font-size: 16px;
        line-height: 19px;
    }
    .form-email-full {
        width: 85px;
        font-size: 15px;
        line-height: 15px;
    }
}
@media (max-width: 575px) {
    /* nav */
    .nav-logo {
        width: 40px;
    }

    .nav-title,
    .nav-btn {
        font-size: 20px;
        line-height: 26px;
    }

    /* nav */
    /* card-sec */
    .read-next {
        font-size: 18px;
        line-height: 23px;
        bottom: 23px;
    }

    .date-com-like {
        bottom: 5px;
        right: 0;
    }

    .social-element-click {
        height: 12px;
        width: 13px;
    }

    /* card-sec */
    /* article-back-up */
    .article-back-up {
        padding-top: 35px;
    }

    .article-content__block {
        padding: 0px 10px 25px;
    }
    .article-content__text {
        font-size: 17px;
        line-height: 21px;
    }

    .author-article {
        position: relative;
        padding: 0;
        margin-bottom: 70px;
    }

    .author-article__info--description {
        width: 150px;
    }

    .date-com-author {
        position: absolute;
        top: 58px;
        right: 0;
    }

    .title-comment {
        padding-left: 0;
    }

    .date-info {
        font-size: 13px;
        line-height: 15px;
    }

    .comment-block-people__item {
        padding-left: 0;
        padding-right: 0;
    }

    .comment-block-people__text {
        padding-right: 0px;
    }

    .comment-heart-block {
        top: auto;
        bottom: 1px;
        right: 10px;
    }

    .label-comment {
        padding-left: 0;
        margin-bottom: 60px;
    }

    .label-btn-clip {
        left: 15px;
    }

    .label-btn-arrow {
        right: 15px;
    }

    .label-btn-smile {
        right: 60px;
    }

    /* article-back-up */
    /* autorization */
    .autorization-block__top {
        margin-bottom: 40px;
    }

    .autorization-block__item {
        padding: 17px 0;
        font-size: 14px;
        line-height: 20px;
        width: 140px;
    }

    .input-autorization {
        font-size: 14px;
        line-height: 18px;
        max-width: 250px;
        padding: 15px 0 15px 35px;
    }

    .btn-autorization {
        max-width: 250px;
        font-size: 15px;
        line-height: 19px;
        padding: 14px 0;
        margin-bottom: 40px;
    }

    .cross-body {
        right: 10px;
        top: 10px;
    }
    /* reset */
    .title-litle {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 26px;
    }
    .form-email {
        font-size: 20px;
        line-height: 24px;
    }
    .from-input-reset {
        font-size: 20px;
        line-height: 26px;
        padding: 10px 0 10px 20px;
    }
    .btn-red {
        padding: 10px 0;
        font-size: 15px;
        line-height: 19px;
    }
    .breadcrumb {
        padding-left: 0px;
    }
    .breadcrumb-item a {
        font-size: 14px;
        line-height: 14px;
    }
    .breadcrumb-item + .breadcrumb-item {
        padding-left: 0.2rem;
    }
    .breadcrumb-item + .breadcrumb-item::before {
        padding-right: 0.2rem;
    }
    .cross-body-two {
        top: 50%;
        right: 20px;
    }
    /* reset */
    .personal-click {
        max-width: 370px;
        width: 100%;
    }
    .personal-text {
        font-size: 20px;
        line-height: 24px;
    }
    .personal-click__item {
        padding: 15px 0 15px 15px;
    }
    .psevdo-avatar {
        width: auto;
    }
    .from-input-reset-width {
        max-width: initial !important;
    }
    .form-email-full {
        width: 170px;
        font-size: 20px;
        line-height: 24px;
    }
    .btn-secondary {
        font-size: 20px;
        line-height: 26px;
    }
    .search-solid {
        width: 20px;
    }
    .search-input-line {
        padding: 0 0 5px 15px;
        font-size: 20px;
        line-height: 25px;
        font-weight: 700;
        color: #3c3e41;
    }
}

@media (max-width: 425px) {
}
